/* ================================
   🧠 HEADER & NAVBAR
================================== */
header nav {
  background: var(--color-burger-nav);
}

/* Estilo para o título e o parágrafo */
header h1 {
  font-size: var(--font-size-xxl); /* 2.5rem */
  font-weight: 700;
  color: var(--color-burger-title);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-title);
}

header p {
  font-size: var(--font-size-lg); /* 1.2rem */
  color: var(--color-burger-subtitle);
  line-height: 1.5;
  margin-top: var(--spacing-sm);
  font-style: italic;
  font-family: var(--font-body);
}
