/* ================================
   🧭 MENU OFFCANVAS
================================== */

.offcanvas {
    background-color: #fff;
    color: var(--color-burger-text);
    font-family: var(--font-body);
  }
  
  .offcanvas-title {
    font-family: var(--font-title);
    color: var(--color-burger-title);
  }
  
  .nav-link {
    color: var(--color-burger-text);
    font-weight: 500;
    transition: var(--transition-fast);
  
    &:hover {
      color: var(--color-burger-primary);
    }
  }
  
  .badge {
    font-size: 0.75rem;
    padding: 0.35em 0.6em;
    border-radius: var(--radius-pill);
  }
  